body {
    background-image:url('background.png')
    
}

.container {
    width: 50%;
    
    height: 40%;
    background-color: rgba(76, 116, 129, 0.5);

    border-style:solid;
    border-width:3px;
    border-radius: 18px;


    text-align: center;

    margin-top: auto;
    margin-left:auto;
    margin-right:auto;
    
}

.container2 {
    column-count: 2;
}



.output {
    border:hidden;
    border-style:solid;
    background-color:rgb(212, 210, 208)
}

.sidebar {
    width: 50%;
    height: 30%;
    background-color:rgb(187, 183, 183);
    border-style: double;

    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    position:relative;
    
}

.sidebarTitle {
    margin-top: -0.1%;
    text-align: center;
    font-size:large;
    position: relative;
}

.slider1{
    margin-top: 5px;
    margin-bottom: 20px;
}

.slider2 {
    margin-top: 5px;
    margin-bottom: 20px;
}


.random {
    color:white;
    border-radius: 4px;
    background: rgb(82, 118, 148);
    border-color:black;


}

.submit {
    color:white;
    border-radius: 4px;
    background: rgb(82, 118, 148);
    border-color:black;
   
}


